<ActionBar title="Details" class="action-bar"></ActionBar>
<FlexboxLayout flexDirection="column" class="page">
    <FlexboxLayout class="m-15">
        <Label class="h2" [text]="aff.id + '. '"></Label>
        <Label class="h2" [text]="aff.content"></Label>
    </FlexboxLayout>
    <Label class="h4" [text]="aff.category[0].name"></Label>
</FlexboxLayout>