<ActionBar title="アファメーション管理アプリ"></ActionBar>
<side-drawer-page>
    <StackLayout class="page">
        <ListView [items]="affirmations" class="list-group">
            <ng-template let-item="item">
                <Label [nsRouterLink]="['/item', item.id]" [text]="item.content"
                       class="list-group-item"></Label>
            </ng-template>
        </ListView>
    </StackLayout>
</side-drawer-page>